//色
$gray-color: #536471;
$liteGray-color: #ccc;
$whiteGray-color: #E5E5E5;
$white-color: #fff;
$whiteBlue-color: rgb(127, 196, 242);
$skyBlue-color: rgb(29, 155, 240);
$hoverBlue-color: rgb(24, 126, 194);
$deepPink-color:#ff1493;


//空白
$space-XS: 0.25rem; //4px
$space-S: 0.5rem; //8px
$space-M: 1rem; //16px
$space-L: 1.5rem; //24px
$space-XL: 2rem; //32px

$screen-padding: 30px;
$radius: 30px;
