@import './variables';

.Comment {

    &__container {
        display: flex;
        flex-direction: column;
        gap: $space-XS ;
        padding: $space-M;
    }

    &__cancelButton {
        width: 2rem;
        height: 2rem;
        font-size: 1.7rem;
        border-radius: 2rem;
        border: none;
        background-color: $white-color;

        &:hover {
            background-color: $whiteGray-color;
        }
    }
    &__header {
        display: flex;
        justify-content: left;
        align-items: center;
        flex-direction: column;
        align-items: start;
    }
    &__userName {
        font-weight: bold;
        word-break: break-all;
    }
    
    &__userId {
        color: $gray-color;
        font-size: 0.9rem;
        word-break: break-all;
    }
    
    &__date {
        color: $gray-color;
        font-size: 0.9rem;
    }
    
}



