@import './variables';

.body {
  height: 100%;
}

.menu {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: $space-XL;
  background-color: #EEFAFF;
  @media screen and (max-width: 767px) {
  padding-left: $space-M;
  }

  &__backButton {
    border: 1px solid $liteGray-color;
    border-radius: 2rem;
    background-color: $white-color;
    height: 35px;
    padding-left: $space-M;
    padding-right: $space-M;
    font-size: 0.9rem;
    color: #3d3d3d;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
}

.Home {
  display: flex;
  height: calc(100% - 50px);

  @media screen and (max-width: 767px) {
    flex-direction: column;
    overflow: hidden;
    height: calc(100vh - 50px);
    width: 100vw;
  }
}

.left {
  flex: 1 0 0;

  @media screen and (max-width: 767px) {
    order: 1;
    flex: 0 0 90px;
  }
}

.center {
  flex: 2 0 0;
  border-right: 1px solid $liteGray-color;
  border-left: 1px solid $liteGray-color;
  height: 100%;
  max-width: 50%;

  @media screen and (max-width: 767px) {
    order: 3;
    flex: 0 1 calc(100vh - 170px - 50px);
    height: calc(100vh - 170px - 50px);
    max-width: 100%;
    border-right: none;
    border-left: none;
    border-top: 1px solid $liteGray-color;
  }
}

.right {
  flex: 1 0 0;

  @media screen and (max-width: 767px) {
    order: 2;
    flex: 0 0 80px;
  }
}