@import './variables';

.tweet {
    display: flex;
    flex-direction: column;
    gap: $space-XS ;
    border-bottom: 1px solid $liteGray-color ;
    padding: $space-M;
}

.header {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: $space-S;
}

.userName {
    font-weight: bold;
    // line-height: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 70vw;

    @media screen and (max-width: 767px) {
        flex-shrink: 0;
        // text-overflow: ellipsis;
        // overflow: hidden;
        // white-space: nowrap;
        // max-width: 70vw;
    }
}

.userId {
    color: $gray-color;
    font-size: 0.9rem;
    // @media screen and (max-width: 767px) {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    // }
}

.date {
    color: $gray-color;
    font-size: 0.9rem;
}

// .content {}

.footer {
    display: flex;
    justify-content: space-around;
    // gap: $space-L;
    color: $gray-color;
    padding-top: $space-S;
}

.iconArea {
    display: flex;
    gap: $space-XS;
}

.pinkicon {
    color: $deepPink-color;
    border-width: bold;
}

.icon {
    color: $gray-color;
    border-width: inherit;
}

.likeButton {
    border: none;
    background-color: $white-color;
    cursor: pointer;

    &:hover {
        background-color: $white-color;
    }
}